/* 채팅창 컨테이너 */
.chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px;
  background-color: #EDD274;
  height: 80vh; /* 채팅창의 고정 높이 */
  overflow-y: auto; /* 스크롤 가능하게 설정 */
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.message-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.message-container.user {
  align-items: flex-end; /* 유저 메시지와 닉네임을 오른쪽에 정렬 */
}

.message-container.server {
  align-items: flex-start; /* 채팅봇 메시지와 닉네임을 왼쪽에 정렬 */
}

.user-nickname {
  text-align: center;
  font-weight: normal;
  color: dodgerblue;
}

.user-nickname a{
  color: black;
}

.bot-nickname {
  text-align: left;
  font-weight: normal;
  color: black;
}

.message {
  display: flex;
  align-items: center;
  border-radius: 10px;
  max-width: 80%;
  word-wrap: break-word;
}

/* 유저 메시지 스타일 */
.message.user .message-text {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: right; /* 유저 메시지는 오른쪽 정렬 */
}

/* 서버 메시지 스타일 */
.message.server .message-text {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: left; /* 서버 메시지는 왼쪽 정렬 */
}

.message.user {
  align-self: flex-end; /* 유저 메시지와 프로필을 오른쪽에 정렬 */
}

.message.server {
  align-self: flex-start; /* 서버 메시지를 왼쪽에 정렬 */
}

/* 입력창 컨테이너 */
.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EDD274;
  position: fixed;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.input-container input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-family: 'DungGeunMo';
  font-size: 16px;
}

.input-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-family: 'DungGeunMo';
}

/* 돌아가기 버튼 */
.back-button {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #EDD274;
  color: black;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-family: 'DungGeunMo';
  font-size: 16px;
}

/* 초기화 버튼 */
.reset-button {
  position: fixed;
  top: 10px;
  right: 120px; /* 돌아가기 버튼 옆에 배치 */
  padding: 10px;
  background-color: #EDD274;
  color: black;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-family: 'DungGeunMo';
  font-size: 16px;
}

