.container {
    background-image: url('../../public/images/bg.png'); /* 배경 이미지 경로 */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.dog-image-container {
    margin-bottom: 20px;
}

.dog-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #EDD274;
    padding: 20px;
}

.profile-chatbotbtn-container { 
    display: flex; 
    align-items: center; 
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDD274;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
}

.profile-image-wrapper {
    background-color: white;  
    border-radius: 15px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.user-info {
    text-align: center;
}

.user-info h2 {
    margin: 10px 0 0 0;
    font-size: 20px;
    font-weight: normal;
}


.chat-button-container {
    position: relative;
    display: inline-block;
}

.chat-button {
    background-color: #EDD274;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'DungGeunMo';
    font-size: 25px;
    transition: transform 0.3s;
    position: relative;
    z-index: 1;
}

.chat-button:hover{
    transform: scale(1.1);
}

.chat-description {
    visibility: hidden;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* 버튼 위에 표시되도록 위치 설정 */
    left: 50%;
    margin-left: -125px; /* 설명 텍스트 가운데 정렬 */
    opacity: 0;
    transition: opacity 0.3s;
}

.chat-description::after {
    content: "";
    position: absolute;
    top: 100%; /* 설명 텍스트 아래에 화살표 표시 */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.chat-button-container:hover .chat-description {
    visibility: visible;
    opacity: 1;
}

.logout-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'DungGeunMo';
    font-size: 20px;
    transition: transform 0.3s;
}

.logout-button:hover{
    transform: scale(1.1);
}